.container {
  background-color: blue;
  position: fixed;
  width: 100%;
  height: 100%;
}
.color-picker-container {
  text-align: center;
}
.board-container {
  text-align: center;
  width: 90%;
  height: 80%;
  margin: auto;
  margin-top: 1%;
  background-color: white;
}
